<h3>
<%= t('sesuso.pay_with_bank_transfer') %><br>
<%= t('sesuso.account_owner') %>: Avitall Shop <br>
<%= t('sesuso.account_number') %>: 10 62 19 43 02 <br>
<%= t('sesuso.bank_code') %>: 100 500 00 (Berliner Sparkasse) <br>
</h3>
