$foreground_color: #d3770a;
$background_color: #faf0e6;

$c_green: #d3770a;
$c_red: #e45353;
$c_blue: #d3770a;
$c_orange: #d3770a;

$layout_background_color: #faf0e6;
$title_text_color: #d3770a;
$body_text_color: #d3770a;
$link_text_color: #d3770a;

.product-image {
  background-color: inherit !important;
  a {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #faf0e6 !important;

    img {
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      -ms-border-radius: 0px !important;
      -o-border-radius: 0px !important;
      border-radius: 0px !important;
    }
  }
}

.show-product-number-field, .show-product-add-to-cart-button, button, .button, a.button {
  background-color: $foreground_color !important;
  border-color: lighten($foreground_color, 30) !important;
  color: $background_color !important;
}

.slider-product-info, .slider-product-title {
  color: $layout_background_color !important;
}

.slider-number-field, .slider-add-to-cart-button, input, .dropdown {
  background-color: $background_color !important;
  border-color: lighten($foreground_color, 30) !important;
  color: $foreground_color !important;
}

#main-image, #main-image img {
  border-radius: 0px !important;
  background-color: $layout_background_color !important;
}

a {
  color: #d3770a;
}

a.info {
  min-height: 50px;
}

body {
  background-color: #faf0e6 !important;
  color: #d3770a !important;
}

.featured-h3, .stock-location, .stock-shipping-method-title {
  background-color: #faf0e6 !important;
  color: #d3770a !important;
}

#products .product-image {
  min-height: 170px !important;
  padding: 0px 0px 5px 5px !important;
}

#products .product-image a {
  padding: 10px 10px 5px 10px !important;
}

#featured-products .product-image a {
  border-color: inherit !important;
}

.text-color {
  color: #d3770a !important;
}

.price, .cart-item-price, #subtotal h5, .rate-cost, strong, legend {
  color: $foreground_color !important;
}

.subtaxon-title .breadcrumbs {
  color: $foreground_color !important;
}

#subheader {
  a, h1, h2, h3 {
    color: $background_color !important;
  }

}

p.field {
  background-color: $background_color;
}

.progress-steps .completed-first:hover,
.shipment thead {
  background-color: lighten($foreground_color, 30) !important;
}

.ui-button-text:hover {
  border-color: $foreground_color !important;
}

