$c_green: #d3770a; 
$c_red: #e45353; 
$c_blue: #000000;
$c_orange: #d3770a;

$layout_background_color: #faf0e6;
$title_text_color: #d3770a;
$body_text_color: #d3770a;
$link_text_color: #d3770a;

.product-image {
  a {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #faf0e6 !important;
    
    img {
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      -ms-border-radius: 0px !important;
      -o-border-radius: 0px !important;
      border-radius: 0px !important;
    }
  }
}



.product-info, .product-title {
   //color: #faf0e6 !important;
   color: $layout_background_color !important;
}

#variants_1, #add-to-cart-button {
    background-color: $layout_background_color !important;
}