$c_green: #d3770a;
$c_red: #e45353;
$c_blue: #d3770a;
$c_orange: #d3770a;

$layout_background_color: #faf0e6;
$title_text_color: #d3770a;
$body_text_color: #d3770a;
$link_text_color: #d3770a;

.product-image {
  a {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #faf0e6 !important;

    img {
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      -ms-border-radius: 0px !important;
      -o-border-radius: 0px !important;
      border-radius: 0px !important;
    }
  }
}



.slider-product-info, .slider-product-title {
  color: $layout_background_color !important;
}

.slider-number-field, .slider-add-to-cart-button {
  background-color: $layout_background_color !important;
}

a {
  color: #d3770a;
}

body {
  background-color: #faf0e6 !important;
  color: #d3770a !important;
}

.featured-h3 {
  background-color: #faf0e6 !important;
  color: #d3770a !important;
}

#featured-products .product-image a {
  border-color: inherit !important;
}

