<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div id="welcome-message">
  <div class="container">
    <h1>
      Willkommen im Avitall-Shop. 
    </h1>
  </div>
</div>

<div class="container">
  <% if @featured_products %>
    <div id="featured-products" class="row">
      <h3 class="av-index-h3">Beliebte Produkte</h3>
      <hr>
      <ul class="carousel">
        <% @featured_products.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>
 
</div>
